.navbar {
    height: 60px;
    background: #41587a;
    color: white;
    display: flex;
    align-items:center;
    justify-content:space-between ;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.nav_title {
  font-size: 25px;
  font-weight: bold;
}

.nav_links span {
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.nav_links span:hover{
  color: #60A5FA;
}

