.sidebar{
    width: 220px;
    background: #7e6f80;
    color: white;
    height: 100vh;
    padding-top: 80px;
    margin-top: 60px;
    position:fixed;
    top: 0;
    left: 0;
}

.sidebar_title{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
}

sidebar_menu{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.sidebar_menu li{
    margin: 15px 0;
    list-style: none;

}
.sidebar_menu a{
    color: white;
    text-decoration:  none;
    font-size: 16px;
    display:flex;
    align-items: center;
    font-size: 20px;
}

.sidebar_menu a:hover{
 color: #8ab4f8
}
.sidebar_menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.sidebar_menu li a:hover {
  background-color: #4A306D;
  color: #ffffff;
  padding-left: 16px; 
}

.sidebar_menu li .active {
  background-color: #4b4b6a;
  border-left: 4px solid #8ab4f8;
  padding-left: 16px;
}

