.sidebar{
    width: 220px;
    background: #d6a606cb;
    color: white;
    height: 100vh;
    padding-top: 80px;
    margin-top: 60px;
    position:fixed;
    top: 0;
    left: 0;
}

.sidebar_title{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
}

sidebar_menu{
    list-style: none;
    padding-left: none;
}

.sidebar_menu li{
    margin: 15px 0;

}
.sidebar_menu a{
    color: white;
    text-decoration:  none;
    font-size: 16px;
}

.sidebar_menu a:hover{
 color: #8ab4f8
}

